{% extends 'base.html' %}

{% block title %}Katas{% endblock title %}

{% block content %}
   
    {% for kata in katas %}

    <div>
        <p>{{kata.name}}</p>
        <form method="post">
        {% csrf_token %}
        <input type="hidden" name='name' value="{{kata.name}}">
        <input type="hidden" name='cw_id' value="{{kata.id}}">
        <input type="hidden" name='languages' value="{{kata.completedLanguages}}">
        <input type="hidden" name='description' value="{{kata.description}}">
        <input type="hidden" name='tags' value="{{kata.tags}}">
        <input type="hidden" name='rank' value="{{kata.rank}}">
        <input type="hidden" name='url' value="{{kata.url}}">
        <button type="submit">Submit</button>
        </form>

    </div>
    {% endfor %}

  
{% endblock content %}