{% extends 'base.html' %}

{% block title %}{{ object.title }}{% endblock title %}

{% block content %}
<div class="container">
    <h2>{{ kata.name }}</h2> 
    <p>Rank: {{ kata.rank.name }}</p> 
    <p>Languages: {{ kata.languages }}</p> 
    <p>Description: {{ kata.description|linebreaksbr }}</p>
    <p>Tags: {{ kata.tags }}</p> 
    {% if kata.notes %}
        <p>Notes: {{ kata.notes|linebreaksbr }}</p> 
    {% endif %}

    
    <div>
        <a class="btn btn-warning"
        href="{% url 'katas:create_update' kata.slug %}"
        role="button">
            Update
        </a>
        <a class="btn btn-danger"
        href="{% url 'katas:delete' kata.slug %}"
        role="button">
            Delete
        </a>
    </div>
    <div>
        <a class="btn btn-secondary" href="{{kata.url}}">
        Visit Codewars
        </a>
    </div>

</div>



{% endblock content %}