{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load socialaccount %}


{% block title %}Log In{% endblock title %}

{% block content %}

<div class="text-center mb-4">
    <img src="{% static 'images/logo1.png' %}"
        width="300"
        height="300"
    >
</div>

<div>
    <h1 class='fw-bold text-center'>Log In</h1>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <div>
        <button class="mt-3 btn btn-danger" type='submit'>Log In</button>
        <a class='mt-3 btn btn-secondary' href="{% url 'account_reset_password' %}">Reset</a>
        </div>
    </form>
</div>

<div class="text-center">
    <p class='fs-4'>Want to use your Google or GitHub account?</p>
        <div class="text-center">
            <a class='btn btn-dark btn-lg' href="{% provider_login_url 'google' %}">
                <i class="fab fa-google"></i>
            </a>
            <a class='btn btn-dark btn-lg' href="{% provider_login_url 'github' %}">
                <i class="fab fa-github"></i>
            </a>
        </div>
</div>


{% endblock content %}