{% load static %}
<nav class="navbar navbar-expand-lg navbar-light pt-5 pb-4 shadow p-3 mb-5 rounded nav-background">
    <div class="container-lg">
        <!-- navbar brand / title -->

        <a class="navbar-brand" href="{% url 'home' %}">
        {% if user.is_authenticated %}
        <span class="nav-text fw-bold">
            {{ user.username }}'s Codewar Companion
        </span>
        </a>
        
        {% else %}
        <a class="navbar-brand" href="{% url 'home' %}">
        <span class="nav-text fw-bold">
            Codewar Companion
        </span>
        </a> 
        {% endif %}

        <!-- toggle button for mobile nav -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <!-- navbar links -->
        <div class="collapse navbar-collapse justify-content-end align-center" id="main-nav">
        {% if user.is_authenticated %}
        <ul class="navbar-nav">
           
            <li class="nav-item">
            <a class="nav-link nav-text fw-bold" href="#">Get Katas</a></span>
            </li>

            <li class="nav-item">
            <a class="nav-link nav-text fw-bold" href="#">Saved Katas</a></span>
            </li>
            
            <li class="nav-item d-md-none">
            <a class="nav-link nav-text fw-bold" href="#">Add Kata</a>
            </li>

            <li class="nav-item d-none d-md-inline">
            <a class="nav-link nav-text fw-bold" href="#">Add Kata</a>
            </li>  
            
            <li class="nav-item">
            <a class="nav-link nav-text fw-bold" href="{% url 'account_logout' %}">Logout</a>
            </li>
           
        </ul>
        {% else %}
        <ul class="navbar-nav">
            <li class="nav-item">
            <a class="nav-link nav-text fw-bold" href="{% url 'about' %}">About</a>
            </li>
            <li class="nav-item">
            <a class="nav-link nav-text fw-bold" href="{% url 'account_login' %}">Login</a>
            </li>
            <li class="nav-item">
            <a class="nav-link nav-text fw-bold" href="{% url 'account_signup' %}">Sign Up</a>
            </li>
        </ul>
        {% endif %}
        </div>
    </div>
</nav> 