{% load static %}
<nav class="navbar navbar-expand-lg navbar-light shadow p-3 mb-5 rounded nav-background">
    <div class="container-lg">
        <!-- navbar brand / title -->
        <div class="p-3">
            <img
              src="{% static 'images/logo2.png' %}"
              width="80"
              height="80"
              class="d-inline-block"
            />
          </div>

        <a class="navbar-brand" href="{% url 'pages:home' %}">
        {% if user.is_authenticated %}
        <span class="nav-text fw-bold">
            {{ user.username }}'s Codewar Companion
        </span>
        </a>
        
        {% else %}
        <a class="navbar-brand" href="{% url 'pages:home' %}">
        <span class="nav-text fw-bold">
            Codewar Companion
        </span>
        </a> 
        {% endif %}

        <!-- toggle button for mobile nav -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <!-- navbar links -->
        <div class="collapse navbar-collapse justify-content-end align-center" id="main-nav">
        {% if user.is_authenticated %}
        <ul class="navbar-nav">

            <li class="nav-item">
            <a class="nav-link nav-text fw-bold" href="{% url 'pages:profile' %}">Profile</a></span>
            </li>

            <li class="nav-item">
            <a class="nav-link nav-text fw-bold" href="{% url 'katas:list' %}">My Katas</a></span>
            </li>
            
            <li class="nav-item">
            <a class="nav-link nav-text fw-bold" href="#">Create Kata</a>
            </li>

            <li class="nav-item">
            <a class="nav-link nav-text fw-bold" href="{% url 'account_logout' %}">Logout</a>
            </li>
           
        </ul>
        {% else %}
        <ul class="navbar-nav">
            <li class="nav-item">
            <a class="nav-link nav-text fw-bold" href="{% url 'pages:about' %}">About</a>
            </li>
            <li class="nav-item">
            <a class="nav-link nav-text fw-bold" href="{% url 'account_login' %}">Login</a>
            </li>
            <li class="nav-item">
            <a class="nav-link nav-text fw-bold" href="{% url 'account_signup' %}">Sign Up</a>
            </li>
        </ul>
        {% endif %}
        </div>
    </div>
</nav> 