{% extends 'base.html' %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block content %}

<div class="text-center mb-5">
    <img src="{% static 'images/logo1.png' %}"
        width="300"
        height="300"
    >
    <div class="m-3">
        <h1 class="text-danger fw-bold">Welcome {{user.username}}</h1>
        <div class="m-4 card text-white">
            <div class="p-4 text-center fs-4" style="background: #3c3c3c">
                <p>Head to the <a style="color: white" href="{% url 'pages:about' %}">About</a> page to pull some katas from Codewars, 
                    or to <a style="color: white" href="{% url 'katas:list' %}">My Katas</a> to start editing.</p>
                <p class='mt-4'>Need to change something?</p>
                <div>
                    <a class="btn btn-danger" href="{% url 'pages:username' user.id %}">Change Username</a>
                    {% if user.has_usable_password %}
                    <a class="m-3 btn btn-dark" href="{% url 'account_change_password' %}">Change Password</a>

                    {% else %}
                    <a class="m-3 btn btn-dark" href="{% url 'account_set_password' %}">Set Password</a>
                    {% endif %}
                </div>
                <div class='spinner-border' role='status'></div>
            </div>   
        </div>
    </div>
</div>



{% endblock content %}