<div hx-target="this" hx-swap="outerHTML">

    <div class='card text-white p-2 mb-3 shadow-lg rounded' style="background: #262729">
        <div class='card-body shadow-lg rounded'>
            <h5 class='m-1 fw-bold'>{{ kata.name }}</h5> 
            <p class='m-1 fw-bold'><span style="color: red">Your Languages: </span>{{ kata.languages }}</p> 
            <p class='m-1 fw-bold mb-2'><span style="color: red">Tags: </span>{{ kata.tags }}</p> 

            <div>
                <button class="btn btn-danger"
                hx-get="{% url 'katas:more_detail_hx' kata.slug %}">
                    More Details
                </button>
                <button class="btn btn-warning"
                hx-get="{% url 'katas:update_hx' kata.slug %}">
                    Update
                </button>
                <button class="btn btn-light"
                hx-post="{% url 'katas:delete_hx' kata.slug %}">
                    Delete
                </button>
                <a target="_blank" class="btn btn-secondary" href="{{kata.url}}">
                    Solution
                </a>
            </div>
        </div>
    </div>
</div>
