{% load markdown_extras %}

<div hx-target="this" hx-swap="outerHTML">
    <div class='card text-white p-2 mb-3 shadow-lg rounded' style="background: #262729">
        <h5 class='m-1 fw-bold'>{{ kata.name }}</h5> 
        <p class='m-1 fw-bold'>Rank: {{ kata.rank }}</p> 
        <p class='m-1 fw-bold'>Languages: {{ kata.languages }}</p> 
        <p class='m-1 fw-bold'>Description: {{ kata.description|markdown|safe }}</p>
        <p class='m-1 fw-bold'>Tags: {{ kata.tags }}</p> 
        {% if kata.notes %}
            <p class='m-1 fw-bold'>Notes: {{ kata.notes|linebreaksbr }}</p> 
        {% endif %}

        <div class='mt-2'>
            <button class="btn btn-outline-danger"
            hx-get="{% url 'katas:detail_hx' kata.slug %}">
                Fewer Details
            </button>
            <button class="btn btn-outline-warning"
            hx-get="{% url 'katas:update_hx' kata.slug %}">
                Update
            </button>
            <button class="btn btn-outline-light"
            hx-post="{% url 'katas:delete_hx' kata.slug %}">
                Delete
            </button>
            <a target="_blank" class="btn btn-outline-secondary" href="{{kata.url}}">
                Solution
            </a>
        
        </div>
    </div>
</div>

